<div class="small-4 columns">
  <%= link_to("Home", root_path) %>
</div>
<div class="small-4 columns text-center">
  © 2015 Copyright BISH, all rights reserved.
</div>
<div class="small-4 columns">
  <ul class="inline-list right">
    <%= render 'layouts/navigation_links' %>
  </ul>
</div>
